<nav class="navbar navbar-expand-md navbar-dark cl-main-nav">
    <a class="navbar-brand" href="#">
        <span class="navbar-logo"></span> EVENT APP </a>
    <div class="navbar-toggler">
        <nav aria-labelledby="navbarMobileToggler" class="nav">
            <a aria-expanded="false" class="nav-item nav-link collapsed menu-toggle" data-toggle="collapse" href="#navbarSupportedContent" id="navbarMobileToggler">
                <span class="fa fa-bars">
                    <span class="sr-only">Toggle Navigation</span>
                </span>
            </a>
        </nav>
    </div>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <nav class="navbar-nav">
            <a class="nav-item nav-link active text-uppercase" href="javascript:"> All Events </a>
            <div class="nav-divider"></div>

            <a class="nav-item nav-link text-uppercase" href="javascript:"> Create Event </a>
            <div class="nav-divider"></div>

            <div class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle text-uppercase" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink"> Events </a>
                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <span class="fa fa-users"></span> Action </a>
                    <a class="dropdown-item" href="#">
                        <span class="fa fa-random"></span> Another action </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </nav>
        <nav class="nav ml-auto">
            <div class="nav-item">
                <a class="nav-link" href="javascript:">
                    John Kulunk  <span class="fa fa-user"></span>
                </a>
            </div>
        </nav>
    </div>
  </nav>
