span.pagingLinks a,
span.pagingLinks b {
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    color: #222222 !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 28px;
    border:none;
    border-right: 1px solid #d2d2d2;
    padding: 0 16px;
    margin: 0 -2px;
    min-width: 50px;
    background: transparent !important;
}

span.pagingLinks a:hover,
span.pagingLinks b:hover,
span.pagingLinks a:nth-last-child(-n+2):hover
{
    color: #222222 !important;
    background-color: #dedede !important;
}

span.pagingLinks a[disabled="disabled"] {
    opacity: 0.5;
    cursor: default;
}

span.pagingLinks b {
    cursor: pointer;
    position: relative;
}

span.pagingLinks b:after {
    border: 2px solid #007faa;
    border-radius: 50%;
    content: '';
    height: 24px;
    width: 24px;
    position: absolute;
    left: 26%;
    top:8%;
}

span.pagingLinks a:nth-last-child(-n+2) {
    border:none;
    border-right: 1px solid #d2d2d2;
}

div.tabbedMenu div.paging {
    height: unset;
    line-height: unset;
    margin-bottom: 4px;
    border: 1px solid #d2d2d2;
    border-right: none;
    background-color: #f1f1f1;

}

div.tabbedMenu ul.mainmenu {
    margin-top:6px;
}