// .mtrx-notification {
//     font-size: 1.125rem;
//     width: 38px;
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .mtrx-notification.active { color: var(--mtrx-lightest); }

// .mtrx-count {
//     background-color: var(--mtrx-danger);
//     font-size: 0.75rem;
//     display: block;
//     border-radius: 9px;
//     width: 18px;
//     height: 18px;
//     line-height: 18px;
//     text-align: center;
//     position: absolute;
//     top: 6px;
//     right: 0;
// }

.mtrx-popover {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 0 16px rgba(0,0,0,0.25) !important;
}

.mtrx-popover .mtrx-arrow::after {
    border-bottom-color: var(--mtrx-primary) !important;
}

.mtrx-popover .mtrx-popover-header {
    color: #ffffff;
    background-color: var(--mtrx-primary);
    border-radius: 0;
}

.mtrx-popover .mtrx-popover-header::before {
    border-bottom: 0 !important;
}

.mtrx-popover .mtrx-popover-body {
    padding: 0;
}

.mtrx-popover .mtrx-list-group-item  {
    padding: .5rem .75rem;}

.mtrx-popover .mtrx-list-group-item:first-child,
.mtrx-popover .mtrx-list-group-item:last-child {
    border-radius: 0;
}
