<!-- Alert Badge with Count -->

<div class="nav-item">
  <a class="nav-link mtrx-notification active" href="javascript:" rel="notification" data-toggle="popover"
    data-html="true">
    <span class="mtrx-count">3</span>
    <span class="far fa-bell">
      <span class="sr-only">Notifications</span>
    </span>
  </a>
</div>

<!-- end Alert Badge -->




<div style="display: none;">

  <!-- Example Notification Items -->

  <ul id="ExampleNotificationItems" class="list-group mtrx-list-group">
    <li class="mtrx-list-group-item list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>Concierge Alert</strong><small class="pl-1">Today</small><br />
        You have 5 auto-emails awaiting approval.
      </div>
      <span class="fal fa-trash text-danger"></span>
    </li>
    <li class="mtrx-list-group-item list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>Planner Alert</strong><small class="pl-1">1 day ago</small><br />
        <a href="javascript;">Violet Baudelaire</a> completed the "Look into your finances" task.
      </div>
      <span class="fal fa-trash text-danger"></span>
    </li>
    <li class="mtrx-list-group-item list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>PropertyFit Alert</strong><small class="pl-1">1 day ago</small><br />
        <a href="javascript;">Dan Brown</a> has updated their preferences.
      </div>
      <span class="fal fa-trash text-danger"></span>
    </li>
    <li class="mtrx-list-group-item list-group-item justify-content-between align-items-center">
      <div class="text-right small">
        <a href="javascript:">Clear All</a>
      </div>
    </li>
  </ul>

  <!-- end Notification Items -->

</div>
