<div class="nav-item mtrx-notification">
  <a class="nav-link" href="javascript:" rel="notification" title="Notifications"
  data-toggle="popover" data-html="true"
  >
    <span class="mtrx-count bg-danger">3</span>
    <span class="far fa-bell">
      <span class="sr-only">Notifications</span>
    </span>
  </a>
</div>

<div style="display: none;">

  <ul id="notificationItems" class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>Concierge Alert</strong><small class="pl-1">Today</small><br/>
      You have 5 auto-emails awaiting approval.
      </div>
      <span class="fal fa-trash text-danger"></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>Concierge Alert</strong><small class="pl-1">Today</small><br/>
        You have 5 auto-emails awaiting approval.
        </div>
        <span class="fal fa-trash text-danger"></span>
      </li>
  </ul>

</div>
