<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="highlight-container" style="padding-bottom: 12px;">
			<table j_controltype="Table" class="highlight" role="presentation" width="100%" cellpadding="0" cellspacing="0" style="border: 1px solid #d8d8d8; border-radius: 3.7px; background-color: #ffffff; overflow: hidden;" bgcolor="#ffffff">
				<tr>
					<td j_contentcontainer="1" valign="top" class="highlight-img-container" style="overflow: hidden; background-color: #ffffff; width: auto; vertical-align: top; padding-top: 12px; padding-left: 12px; padding-bottom: 12px; padding-right: 12px; max-width: 140px;" bgcolor="#ffffff">
						<!--<a href="" style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; text-decoration: none; display: block; max-width: 100%; width: 100%;">
							<img class="highlight-img" src="" border="0" alt="Photo of recommended property" style="display: block; margin: 0; outline: none; border: 0; border-radius: 3.7px; min-width: 100px; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; font-size: 11px; line-height: 1.45; width: 100%; max-width: 100%;">
						</a>-->
					</td>
					<td j_contentcontainer="1" class="highlight-details-container" valign="top" style="width: 60%;" width="60%">
						<!--<a class="highlight-details" href="" style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; text-decoration: none; display: block; line-height: 0; border: 0;"></a>-->
						<div class="highlight-price" style="margin: 0; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; margin-right: 16px; margin-left: 4px; font-size: 16px; line-height: 1.38; margin-top: 12px;">$1,000,000</div>
						<div class="highlight-title" style="margin: 0; margin-bottom: .75em; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; font-size: 11px; line-height: 1.45; margin-right: 16px; margin-left: 4px;">Single Family</div>
						<p class="highlight-description" style="margin: 0; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; font-size: 11px; line-height: 1.45; margin-right: 16px; margin-left: 4px;">123 Street St,</p>
						<p class="highlight-address" style="margin: 0; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; font-size: 11px; line-height: 1.45; margin-right: 16px; margin-left: 4px;">City, ST</p>
						<p class="highlight-specs" style="margin: 0; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; font-size: 11px; line-height: 1.45; margin-right: 16px; margin-left: 4px; margin-bottom: 10px;">
							<span style="display: inline-block;">5 bd</span>
							<span style="display: inline-block;">•</span>
							<span style="display: inline-block;">5 ba</span>
							<span style="display: inline-block;">•</span>
							<span style="display: inline-block;">5555 sqft</span>
						</p>
						<p class="highlight-status" style="margin: 0; margin-bottom: 15px; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; font-size: 11px; line-height: 1.45; margin-right: 16px; margin-left: 4px;">
							<img src="/matrix/images/onehome/new_listing.gif" alt="New Listing" width="104" height="22" border="0" style="display: block; margin: 0; outline: none; border: 0; font-family: 'Montserrat', sans-serif; text-decoration: none; color: #323232; font-weight: 500; font-size: 11px; line-height: 1.45;">
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>