.onehome {
  font-family: 'Montserrat';
  font-size: 14px;
  background-color: #ffffff;
}

.onehome h1,
.onehome h2,
.onehome h3 {
   font-family: 'Josefin Sans';
   font-weight: 700;
 }

 .onehome h1 {
  font-size: 26px;
  line-height: 1.23;
 }

 .onehome .title {
   font-weight: 700;
   font-size: 11px;
   text-transform: uppercase;
 }

 .onehome .navbar-onehome {
  background-color: #137a8f;
}

.onehome .navbar-onehome .logo {
  width: 126px;
  height: 30px
}

 .onehome .custom-checkbox label {
   display: block;
   padding-top: 0.1rem;
 }

 .onehome .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4577b6;
  border-color: #4577b6;
}

 .onehome .custom-control-input:disabled~.custom-control-label::before {
  border-color: #e9ecef;
}

 .onehome .custom-control-input:checked:disabled~.custom-control-label::before {
   background-color: #e9ecef;
   border-color: #e9ecef;
 }

 .onehome .btn-primary {
   background-color: #4577b6;
   border-color: #4577b6;
   font-size: 14px;
 }
