<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet" />
<div class="onehome">
  <nav class="navbar onehome">
    <span class="navbar-brand">OneHome</span>
  </nav>

  <div class="container onehome">
    <h1>Sorry to see you go!</h1>
    <p>text</p>
    <div class="form-group">
      <label>Real Estate Agent Emails</label>
      <div>I don't want to receive emails:</div>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input">
      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" checked>
      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
    </div>

    <button type="button" class="btn btn-primary">Button</button>


  </div>
</div>

<p>unsubscribe works!</p>
