<div class="m-3 p-3">

  <div class="row">
      <div class="col mtrx-pageContaineraaa">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Forms</h3>
              <div class="mtrx-keyvalue mb-3">
                <div class="mtrx-key">Key</div>
                <div class="mtrx-value">Value</div>
              </div>

              <div class="mtrx-keyvalue inline">
                  <div class="mtrx-key">Key</div>
                  <div class="mtrx-value">Value Inline</div>
                </div>
            </div>
          </div>
        </div>

    <div class="col mtrx-pageContaineraaa">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Table</h3>
          <div class="table-responsive mtrx-table mb-3">
            <table class="table table-hover table-sm">
              <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
              </thead>
              <tbody>
                <tr>
                  <td class="text-nowrap">Violet Baudelaire</td>
                  <td class="text-nowrap"><a href="#" class="d-block">violet@baudelaire.com</a></td>
                  <td class="text-nowrap">555 12th Street, Oakland CA</td>
                </tr>
                <tr>
                  <td class="text-nowrap">Jack Black</td>
                  <td class="text-nowrap"><a href="#" class="d-block">jack@black.com</a></td>
                  <td class="text-nowrap">1211 Magnolia Ave, Piedmont CA</td>
                </tr>
                <tr>
                  <td class="text-nowrap">David Gray</td>
                  <td class="text-nowrap"><a href="#" class="d-block">david@gray.com</a></td>
                  <td class="text-nowrap">1024 Ashby Ave, Berkeley CA</td>
                </tr>
                <tr>
                  <td class="text-nowrap">Rachel Green</td>
                  <td class="text-nowrap"><a href="#" class="d-block">rachel@green.com</a></td>
                  <td class="text-nowrap">109 Solano Ave, Albany CA</td>
                </tr>
                <tr>
                  <td class="text-nowrap">Joel Silver</td>
                  <td class="text-nowrap"><a href="#" class="d-block">joel@silver.com</a></td>
                  <td class="text-nowrap">430 Spain St, Sonoma CA</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mtrx-pagination">
            <div class="row">
              <div class="col">
                <div class="form-inline">
                  <div class="form-group">
                    <select class="form-control">
                      <option>5</option>
                    </select>
                    <label class="pl-2">Per Page</label>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="btn-group float-right">
                  <button type="button" class="btn btn-outline-secondary">Previous</button>
                  <button type="button"
                    class="btn btn-outline-secondary mtrx-pagination--isActive"><span>1</span></button>
                  <button type="button" class="btn btn-outline-secondary"><span>2</span></button>
                  <button type="button" class="btn btn-outline-secondary"><span>3</span></button>
                  <button type="button" class="btn btn-outline-secondary">Next</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col mtrx-pageContaineraaa">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Typography</h3>
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <p>A paragraph and a <a href="#">text link</a></p>
        </div>
      </div>
    </div>

    <div class="col mtrx-pageContaineraaa">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Tabs</h3>
          <app-tabs></app-tabs>
        </div>
      </div>
    </div>

  </div>
</div>
