<div class="m-3 p-3">

  <div class="row mb-3">



    <div class="col">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Table</h3>
          <app-table></app-table>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Tabs</h3>
          <app-tabs></app-tabs>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Forms</h3>
          <div class="mtrx-keyvalue mb-3">
            <div class="mtrx-key">Key</div>
            <div class="mtrx-value">Value</div>
          </div>

          <div class="mtrx-keyvalue inline">
            <div class="mtrx-key">Key</div>
            <div class="mtrx-value">Value Inline</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">

      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Typography</h3>
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <p>A paragraph and a <a href="#">text link</a></p>
        </div>
      </div>
    </div>



  </div>
</div>
