<h1 class="mb-3">Forms</h1>

<div class="form-group">
    <label>Custom Select</label>
    <div class="mtrx-custom-selector">
        <select class="mtrx-custom-select custom-select">
            <option selected>Violet Baudelaire</option>
            <option>Rachel Green</option>
            <option>Jerry Brown</option>
        </select>
    </div>

</div>

<hr>

<div class="mtrx-keyvalue mb-3">
  <div class="mtrx-key">Key</div>
  <div class="mtrx-value">Value</div>
</div>

<div class="mtrx-keyvalue inline">
  <div class="mtrx-key">Key</div>
  <div class="mtrx-value">Value Inline</div>
</div>
