<table align="center" cellpadding="0" cellspacing="0" border="0" class="container-table onehome-wrapper" style="width: 100%; max-width: 600px; background-color: #FFFFFF; font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 14px; line-height: 1.45; text-decoration: none;" width="100%" bgcolor="#FFFFFF">
	<tr>
		<td>
			<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="header" style="background-color: #137a8f;" bgcolor="#137a8f">
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td height="20" style="font-size: 0; line-height: 0;"></td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td class="logo-container" valign="middle" style="padding-left:20px;">
						<img src="http://pine.matrixstaging.com/matrix/images/onehome/onehome-logo.gif" alt="onehome" width="126" height="30" style="display: block; margin: 0; outline: none; border: 0; line-height: 1.45; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 500; text-decoration: none; color: #5c5c5c;">
					</td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td height="20" style="font-size: 0; line-height: 0;"></td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>

			<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="inner-table">
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td>
						<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="main-content" style="background-color: #f5f5f5;" bgcolor="#f5f5f5">
							<tr>
								<td class="main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
								<td class="main-content-center" height="24"></td>
								<td class="main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
							</tr>
							<tr>
								<td class="main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
								<td class="main-content-center" height="24">
									<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td class="body-copy" style="font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; color: #5c5c5c;">
															<!-- begin body copy -->
															<p class="text-margin" style="font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; color: #5c5c5c; margin: 0; margin-bottom: 24px;">[(IsEmpty({message}) ? ("I’ve found some properties that might be of interest. Let me know if you have any questions.") : {message})]</p>
															<p class="text-margin" style="font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; color: #5c5c5c; margin: 0; margin-bottom: 24px;">
																Click the following link to view [contentname].
															</p>
															<!-- end body copy -->
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td height="40" style="font-size: 0; line-height: 0;"></td>
										</tr>
										<tr>
											<td>
												<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="button-cta" style="border-radius: 9px; background-color: #4577b6; box-shadow: 0 2px 4px 0 #d0def6;" bgcolor="#4577b6">
													<tr>
														<td height="10" style="font-size: 0; line-height: 0;"></td>
														<td height="10" style="font-size: 0; line-height: 0;"></td>
														<td height="10" style="font-size: 0; line-height: 0;"></td>
													</tr>
													<tr>
														<td width="16" style="font-size: 0; line-height: 0;"></td>
														<td>
															["<a class=\"button-text\" href=\"" & {ContentLink} & "\" style=\"color: #f5f5f5; letter-spacing: 0.42px; text-transform: uppercase; text-decoration: none; line-height: 1.45; font-size: 14px; font-style: normal; font-family: 'Montserrat' , sans-serif; font-weight: 600;\"><span style=\"display: inline-block;\">View " & {ContentName} & "</span></a>"]
														</td>
														<td width="16" style="font-size: 0; line-height: 0;"></td>
													</tr>
													<tr>
														<td height="10" style="font-size: 0; line-height: 0;"></td>
														<td height="10" style="font-size: 0; line-height: 0;"></td>
														<td height="10" style="font-size: 0; line-height: 0;"></td>
													</tr>
												</table>
											</td>
										</tr>										
										<tr>
											<td height="40" style="font-size: 0; line-height: 0;"></td>
										</tr>
										<tr>
											<td>
												<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td width="100%" valign="top" class="signature">
															<p class="signature-title" style="font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; color: #5c5c5c; margin: 0; margin-bottom: 2px;">[ToString({AgentEmailSignature})]</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
								<td class="main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
							</tr>
							<tr>
								<td class="main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
								<td class="main-content-center" height="24"></td>
								<td class="main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
							</tr>
						</table>
					</td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td height="20" style="font-size: 0; line-height: 0;"></td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>