<table align="center" cellpadding="0" cellspacing="0" border="0" class="container-table onehome-wrapper" style="width: 100%; max-width: 600px; background-color: #FFFFFF; font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 14px; line-height: 1.45; text-decoration: none;" width="100%" bgcolor="#FFFFFF">
	<tr>
		<td>
			<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="header" style="background-color: #137a8f;" bgcolor="#137a8f">
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td height="20" style="font-size: 0; line-height: 0;"></td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td class="logo-container" valign="middle" style="padding-left:20px;">
						<img src="http://pine.matrixstaging.com/matrix/images/onehome/onehome-logo.gif" alt="onehome" width="126" height="30" style="display: block; margin: 0; outline: none; border: 0; line-height: 1.45; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 500; text-decoration: none; color: #5c5c5c;">
					</td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
				<tr>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td height="20" style="font-size: 0; line-height: 0;"></td>
					<td class="main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td>

			<!-- == INTRO TEXT == -->

			<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td></td>
					<td width="" height="40" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
					<td></td>
				</tr>

				<tr class="intro-text-container">
					<td width="30"></td>
					<td width="500">
						<h1 class="intro-text" style="font-size: 36px; font-family: 'Josefin Sans', sans-serif; font-weight: 700; line-height: 1.17; margin: 0; color: #323232;">Welcome to OneHome</h1>
					</td>
					<td width="30"></td>
				</tr>

				<tr>
					<td></td>
					<td width="" height="24" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
					<td></td>
				</tr>
			</table>

			<!-- == INTRO TEXT END == -->
			<!-- == INTRO IMAGE == -->
			<table width="100%" role="presentation" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff">
						<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td></td>
							</tr>
						</table>
					</td>

					<td class="td-spacer" align="center" width="500" style="font-size: 0; line-height: 0;">
						<img src="http://pine.matrixstaging.com/matrix/images/onehome/welcome-en.jpg" width="560" alt="" class="img welcome-img" style="display: block; margin: 0; outline: none; border: 0; line-height: 1.45; font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; text-decoration: none; color: #5c5c5c; width: 100%; max-width: 100%;">
					</td>

					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff">
						<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- == INTRO IMAGE END == -->
			<!-- == WHITE BG == -->

			<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="inner-table">
				<tr>
					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>

					<td class="td-spacer main-content-center" width="500" style="font-size: 0; line-height: 0;">
						<!-- == GREY BG == -->
						<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0" class="main-content" style="background-color: #f5f5f5;" bgcolor="#f5f5f5">
							<tr>
								<td class="td-spacer main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>

								<td class="td-spacer main-content-center" height="24" style="font-size: 0; line-height: 0;"></td>

								<td class="td-spacer main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
							</tr>

							<tr>
								<td class="td-spacer main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>

								<td class="td-spacer main-content-center" height="24" style="font-size: 0; line-height: 0;">

									<!-- == CONTENT WELCOME == -->

									<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
										<!-- first -->
										<tr>
											<td>
												<table role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
													<!-- second -->
													<tr>
														<td class="body-copy" style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; color: #5c5c5c;">
															<h2 class="text-margin" style="font-size: 13px; font-family: 'Montserrat', sans-serif; font-weight: 600; line-height: 1.38; margin: 0; color: #323232; margin-bottom: 24px;">Welcome to Your Portal!</h2>

															<!-- Editable content -->
															<p class="text-margin" style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; color: #5c5c5c; margin: 0; margin-bottom: 24px;">I've set up a personal website for you to check out the properties I think you'll like. You'll be notified as I add new properties - just click the link I send to see them. (You can decide how often you want to be notified in the Portal.)</p>
															<!-- End Editable content-->

															<h3 style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; margin: 0; color: #323232;">You'll be able to:</h3>

															<table border="0" cellpadding="0" cellspacing="0">
																<tr>
																	<td height="8" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
																	<td></td>
																	<td></td>
																	<td></td>
																</tr>

																<tr>
																	<td class="bullet">&bull;</td>
																	<td></td>
																	<td class="list-item" style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; color: #5c5c5c; padding-left: 8px;">See the properties I pick out for you</td>
																	<td></td>
																</tr>

																<tr>
																	<td class="bullet">&bull;</td>
																	<td></td>
																	<td class="list-item" style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; color: #5c5c5c; padding-left: 8px;">Let me know if you like the properties, or if they're not your style</td>
																	<td></td>
																</tr>

																<tr>
																	<td class="bullet">&bull;</td>
																	<td></td>
																	<td class="list-item" style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; color: #5c5c5c; padding-left: 8px;">Leave notes for me or for yourself on any of the properties</td>
																	<td></td>
																</tr>

																<tr>
																	<td height="24" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
																	<td></td>
																	<td></td>
																	<td></td>
																</tr>
															</table>

															<p style="font-size: 11px; font-family: 'Montserrat', sans-serif; font-weight: 500; line-height: 1.45; color: #5c5c5c; margin: 0;">You'll also be able to search for properties yourself using the MLS database!</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>

										<tr>
											<td height="40" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
										</tr>

										<tr>
											<td>
												<!-- == CTA == -->

												<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="button-cta" style="border-radius: 9px; background-color: #4577b6; box-shadow: 0 2px 4px 0 #d0def6;" bgcolor="#4577b6">
													<tr>
														<td height="10" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
														<td height="10" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
														<td height="10" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
													</tr>

													<tr>
														<td width="16" class="td-spacer" style="font-size: 0; line-height: 0;"></td>

														<td>

															["<a class=\"button-text\" href=\"" & {FullListingsLink} & "\" style=\"color: #f5f5f5; letter-spacing: 0.42px; text-transform: uppercase; text-decoration: none; line-height: 1.45; font-size: 14px; font-style: normal; font-family: 'Montserrat' , sans-serif; font-weight: 600;\"><span style=\"display: inline-block;\">View Properties</span></a>"]

														</td>

														<td width="16" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
													</tr>

													<tr>
														<td height="10" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
														<td height="10" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
														<td height="10" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
													</tr>
												</table>

												<!-- == CTA END == -->
											</td>
										</tr>

										<tr>
											<td height="96" class="td-spacer" style="font-size: 0; line-height: 0;"></td>
										</tr>

										<tr>
											<td>
												<!-- == SIGNATURE == -->
												[AgentEmailSignature]
												<!-- == SIGNATURE END == -->
											</td>
										</tr>
									</table>

									<!-- == CONTENT WELCOME END == -->

								</td>

								<td class="td-spacer main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
							</tr>

							<tr>
								<td class="td-spacer main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>

								<td class="td-spacer main-content-center" height="24" style="font-size: 0; line-height: 0;"></td>

								<td class="td-spacer main-content-padding-x" width="20" style="font-size: 0; line-height: 0; width: 20px;">
									<!--["[if (gte mso 9)|(IE)]"]>
										<table role="presentation" border="0" cellpadding="0" cellspacing="0">
											<tr><td></td></tr>
										</table>
									<!["[endif]"]-->
								</td>
							</tr>
						</table>

						<!-- == GREY BG END == -->
					</td>
					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>

				<tr>
					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td class="td-spacer" height="16" style="font-size: 0; line-height: 0;">
						<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td></td>
							</tr>
						</table>
					</td>
					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>

				<tr>
					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
					<td class="td-spacer" height="20" style="font-size: 0; line-height: 0;">
						<table role="presentation" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td></td>
							</tr>
						</table>
					</td>
					<td class="td-spacer main-content-margin-x" width="20" style="font-size: 0; line-height: 0; background-color: #ffffff;" bgcolor="#ffffff"></td>
				</tr>
			</table>

			<!-- == WHITE BG END == -->
		</td>
	</tr>


</table>