/* Button Bar START */

/* Regular Button START */

.buttonBar TD.link {
    /* regular button */
    background: #e5e5e5;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5f5f5, #e2e2e2);
    /* Standard syntax */
}

.buttonBar TD.left {
    /* left regular button */
    background: none;
    border-radius: 6px 0px 0px 6px;
    background-image: none;
    height: 28px;
    background: #e5e5e5;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5f5f5, #e2e2e2);
    /* Standard syntax */
}

.buttonBar TD.right {
    /* right regular button */
    background: none;
    border-radius: 0px 6px 6px 0px;
    background-image: none;
    height: 28px;
    background: #e5e5e5;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5f5f5, #e2e2e2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5f5f5, #e2e2e2);
    /* Standard syntax */
}

/* Regular Button END */

/* Important Button START */

.buttonBar TD.leftImportant {
    /* left enabled end-cap */
    background-image: none;
    background-repeat: no-repeat;
    width: 13px;
    height: 28px;
    border-radius: 0px 0px 0px 6px;
    background: #2261a9;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2261a9, #2261a9);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2261a9, #2261a9);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2261a9, #2261a9);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2261a9, #2261a9);
    /* Standard syntax */
}

.buttonBar TD.rightImportant {
    /* right enabled end-cap */
    background-image: none;
    background-repeat: no-repeat;
    width: 13px;
    height: 28px;
    border-radius: 0px 6px 6px 0px;
    background: #2261a9;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2261a9, #2261a9);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2261a9, #2261a9);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2261a9, #2261a9);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2261a9, #2261a9);
    /* Standard syntax */
}

.buttonBar TD.important {
    /* important button */
    background: #2261a9;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2261a9, #2261a9);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2261a9, #2261a9);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2261a9, #2261a9);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2261a9, #2261a9);
    /* Standard syntax */
}

.buttonBar TD.barleft.important {
    /* important button left divider */
    border-left: solid 1px #fff;
}

.buttonBar TD.barright.important {
    /* important button right divider */
    border-right: solid 1px #fff;
}

.buttonBar TD.link.important A SPAN {
    /* important button > link text */
    color: #fff;
}

.buttonBar TD.link.important {
    /* important button > regular text (non-link text in important button) */
    color: #fff;
}

/* Important Button > disabled START */

.buttonBar TD.disabled.leftImportant {
    /* left disabled end-cap */
    background-image: none;
    background-repeat: no-repeat;
    height: 28px;
    width: 13px;
    border-radius: 0px 0px 0px 6px;
    background: #5a9ce6;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5a9ce6, #5a9ce6);
    /* Standard syntax */
}

.buttonBar TD.disabled.rightImportant {
    /* right disabled end-cap */
    background-image: none;
    background-repeat: no-repeat;
    height: 28px;
    width: 13px;
    border-radius: 0px 6px 6px 0px;
    background: #5a9ce6;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5a9ce6, #5a9ce6);
    /* Standard syntax */
}

.buttonBar TD.disabled.important {
    /* important button > disabled */
    background: #5a9ce6;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5a9ce6, #5a9ce6);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5a9ce6, #5a9ce6);
    /* Standard syntax */
}

.buttonBar TD.barleft.important.disabled {
    /* important button > disabled left divider */
    border-left: solid 1px #fff;
}

.buttonBar TD.barright.important.disabled {
    /* important button > disabled right divider */
    border-right: solid 1px #fff;
}

.buttonBar TD.disabled.important:hover a:hover span {
    /* important button > disabled > link text > hovered */
    color: #fff !important;
    /* same color as important button text */
}

.buttonBar TD.disabled.important:hover a span {
    /* important button > disabled > hovered > link text (link text when disabled important button is hovered) */
    color: #fff;
    /* same color as important button text */
}

/* Important Button > disabled END */

/* Important Button END */

/* Button Bar > Main Menu START */

div.tabbedMenu ul.mainmenu li.selected, div.tabbedMenu ul.mainmenu li.selected:hover {
    background-color: #2261a9;
    border: solid 1px #1a579c;
    background-image: none;
    color: #fff;
    height: 20px;
}

div.tabbedMenu ul.mainmenu li.selected, div.tabbedMenu ul.mainmenu li.selected:hover {
    border: solid 1px #2261a9;
    height: 30px !important;
    border-radius: 6px 6px 0px 0px;
    margin: 0px;
    line-height: 30px;
    position: relative;
    top: -2px;
}

div.tabbedMenu ul.mainmenu li {
    line-height: 28px;
    height: 28px;
    border-top: solid 1px #979797;
    padding: 0 10px 0 10px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-left: 0px;
}

div.tabbedMenu ul.mainmenu {
    padding: 0px;
    height: 28px;
    margin: 0px;
}

div.tabbedMenu ul.mainmenu li:first-of-type {
    /* first unselected main menu item */
    border-left: solid 1px #979797 !important;
    border-radius: 6px 0px 0px 0px;
}

div.tabbedMenu ul.mainmenu li:last-of-type {
    /* last unselected main menu item */
    border-right: solid 1px #979797 !important;
    border-radius: 0px 6px 0px 0px;
}

div.tabbedMenu ul.mainmenu li:first-of-type.selected, div.tabbedMenu ul.mainmenu li:first-of-type.selected:hover {
    /* first selected main menu item */
    border-radius: 6px 6px 0px 0px;
    border-left: none !important;
}

div.tabbedMenu ul.mainmenu li:last-of-type.selected, div.tabbedMenu ul.mainmenu li:last-of-type.selected:hover {
    /* last selected main menu item */
    border-radius: 6px 6px 0px 0px;
    border-right: none !important;
}

div.tabbedMenu ul.mainmenu li:hover {
    /* hover main menu items */
    background-color: #f8f8ff;
    color: #000;
    background-image: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

/* Button Bar > Main Menu END */

/* Button Bar END */
