<div class="mtrx-footer container-fluid py-3">
  <div class="row justify-content-left">
    <div class="col-auto">
      <img src="../../assets/images/matrix-logo.png" />
    </div>
    <div class="col">
      <div class="mtrx-footer-content mb-2">paragraphs and paragraphs of Information deemed reliable but not guaranteed. © 2019 Northstarmls.com help@northstarmls.com or 651-251-5456 (1-877-251-5455), M-F 8:00-5:00</div>
      <div class="col small text-center">
        &copy; 2019 CoreLogic. All Rights Reserved.<br/>
        <a href="http://www.corelogic.com" target="_blank">{{matrixVersion}}</a> |
        <a href="javascript:" target="_blank">Terms of Use</a>
      </div>
    </div>
    
    <div class="col-auto small text-right">
      <img src="../../assets/images/cl-logo-pwr.png" />
    </div>
  </div>
</div>
