<div class="mtrx-footer container-fluid py-3">
  <div class="row justify-content-left">

    <div class="mtrx-footer-logo col-md-auto mb-3">
      <img src="../../assets/images/matrix-logo.png" />
    </div>

    <div class="col mb-3 mtrx-footer-content small">

      <div class="mb-2">
        All the information on this website is published for general information purpose only. Website Name does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Website.com), is strictly at your own risk. will not be liable for any losses and/or damages in connection with the use of our website.
      </div>
      
      <div class="col">
        &copy; 2019 CoreLogic. All Rights Reserved.<br/>
        <a href="http://www.corelogic.com" target="_blank">{{matrixVersion}}</a> |
        <a href="javascript:" target="_blank">Terms of Use</a>
      </div>

    </div>
    
    <div class="mtrx-footer-logo col-md-auto text-right">
      <img src="../../assets/images/cl-logo-pwr.png" />
    </div>
  </div>

</div>
