<div class="mtrx-footer container-fluid py-3">
  <div class="row justify-content-left">
    <div class="col-auto">
      <img src="../../assets/images/cl-logo.svg" />
    </div>
    <div class="col small">{{disclaimerText}}</div>
    <div class="col-auto small text-right">
      <div>&copy; 2019 CoreLogic. All Rights Reserved.</div>
      <a href="http://www.corelogic.com" target="_blank">{{matrixVersion}}</a> |
      <a href="javascript:" target="_blank">Terms of Use</a>
    </div>
  </div>
</div>
