<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- FOR PROTOTYPE ONLY -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link
        href="http://dogwood.argon.dev.tarasoft.local/Matrix/css/matrix?v=t1t_zwImln-5g2LjHrSB8aeHnmaMttAJEvv1KfZJPSQ1"
        rel="stylesheet" />
    <link
        href="http://dogwood.argon.dev.tarasoft.local/Matrix/autocss/!/results_css?v=6Aj0OF5ygX9PJjR14Ct5KMPtG9OQGgj22foBFMXbPok1"
        rel="stylesheet" />
    <link
        href="http://dogwood.argon.dev.tarasoft.local/Matrix/css/custom?v=rXyVO-26rFxqRfXyQQXM9dQYPL-knCKbPgCqwoPiT381"
        rel="stylesheet" />

    <style>
        .logo {
            padding: 29px 0;
        }

        .tier4.navBar {
            padding: 2px 10px;
        }

        .barright {
            width: 100%;
        }

        .prototype-table {
            height: 200px;
            width: 1400px;
            background-color: #f9f9f9;
        }

        .prototype-btns {
            display: inline-block;
            padding: 5px;
            margin: 10px 0;
            background-color: #f9f9f9;
            border: 1px solid #d2d2d2;
        }

        .css_heading td {
            padding-right: 1em;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- // FOR PROTOTYPE ONLY -->


    <link rel="stylesheet" href="paging.component.css">

</head>

<body>

    <div class="TopMenuDiv">
        <div class="TopMenuInner">
            <img class="logo" src="../src/dogwood-logo.png" />
        </div>
    </div>

    <div id="alert1" class="confirmationMessage" data-timeout="10000">
        <button type="button" class="close"><i class="fa fa-times"></i></button>
    </div>

    <div class="SB_outerDiv"></div>
    <div class="tier4 navBar faded">
        <a href="#">Full Loaf</a> >
        <a href="#">Sliced Toast</a> >
        <a href="#">Crumbs</a>
    </div>
    <div class="tier3">

        <div class="prototype-btns">
            <button id="criteriaBtn" class="btn btn-link view-btn" value="searchActive" type="button">Criteria</button>
            <button id="mapBtn" class="btn btn-link view-btn" value="mapActive" type="button">Map</button>
            <button id="resultsBtn" class="btn btn-link view-btn" value="resultsActive" type="button">Results</button>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" width="980">
            <tr>
                <td>
                    <div class="css_container">

                        <!-- results subheading -->
                        <div id="m_upSubHeader">
                            <div id="m_pnlSubHeader" class="resultsSubHeader css_heading resultsActive">

                                <div style="z-index: 99; position: relative">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr align="left">

                                                <!-- search -->
                                                <td class="hideOnMap hideOnResults"
                                                    style="padding-right: 5px;">
                                                    <img id="m_imgTableIcon"
                                                        src="/Matrix/Images/TableIcons/listing_residential.gif"
                                                        style="height:16px;width:16px;">
                                                    <span id="m_lblSearchName">Quick</span>
                                                </td>

                                                <!-- <td class="hideOnMap hideOnSearch hideNoResults"
                                                    style="width: 228px;">
                                                    <span id="m_lblPagingSummary"><span class="pagingLinks">
                                                            <a disabled="disabled">Previous</a>&nbsp;·
                                                            <a id="m_DisplayCore_dpy2"
                                                                href="javascript:__doPostBack('m_DisplayCore','Redisplay|,,25')">Next</a></span>
                                                        ·&nbsp;<b>1</b>-<b>25</b> of <b>5000+</b></span>
                                                </td> -->

                                                <!-- result -->
                                                <td class="hideOnMap hideOnSearch hideNoResults">
                                                    <span id="m_lblPagingSummary">
                                                        Showing <b>1</b>-<b>25</b> of <b>5000+</b></span>
                                                </td>

                                                <!-- map -->
                                                <td class="hideOnResults hideOnSearch hideNoResults">
                                                    <span id="m_lblMapSummary"><b>1</b> of <b>25</b></span>
                                                </td>

                                                <!-- map results -->
                                                <td class="hideOnSearch hideNoResults">
                                                    <span id="m_lblCheckedCount">Checked <strong>0</strong></span>
                                                </td>

                                                <td class="hideOnSearch hideNoResults checkLinks">
                                                    <a id="m_lnkCheckAllLink" href="javascript:void(0)"
                                                        disabled="disabled"
                                                        title="Too many items to check (max 5000)">All</a>
                                                    ·
                                                    <a title="Un-check All" id="m_lnkCheckNoneLink"
                                                        href="javascript:void(0)" disabled="disabled">None</a>
                                                    ·
                                                    <a title="Check/Uncheck All on Page" id="m_lnkCheckPageLink"
                                                        class="hideOnMap" href="javascript:void(0);">Page</a>
                                                    <a title="Check/Uncheck visible pins" id="m_lnkCheckVisibleLink"
                                                        class="hideOnResults" href="javascript:void(0)">Page</a>
                                                    <span class="hideOnResults">·</span>
                                                </td>

                                                <!-- results -->
                                                <td class="hideOnMap hideOnSearch"
                                                    style="text-overflow: ellipsis; overflow: hidden;">

                                                </td>

                                                <!-- map -->
                                                <td class="hideOnSearch hideOnResults">&nbsp;<a
                                                        title="Clicking checks pins (Ctrl+click)" id="m_aSelectSingle"
                                                        href="javascript:void(0)" style="display: inline-block;"><span
                                                            class="linkIcon icon_selectSingle"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Check all in area (Ctrl+drag)" id="m_aSelectMultiple"
                                                        href="javascript:void(0)" style="display: inline-block;"><span
                                                            class="linkIcon icon_selectMultiple"></span></a>
                                                </td>

                                                <td class="hideOnSearch hideOnResults" style="height: 26px;">&nbsp;
                                                </td>

                                                <!-- search -->
                                                <td class="hideOnMap hideOnResults" style="height: 26px;">
                                                    &nbsp;</td>

                                                <!-- results -->
                                                <td class="hideOnSearch hideOnMap">
                                                    <div style="padding: 4px 0px 4px 0px;">
                                                        <span id="m_ucDisplayPicker_m_mlChangeDisplay">Display</span>
                                                        <select name="m_ucDisplayPicker$m_ddlDisplayFormats"
                                                            id="m_ucDisplayPicker_m_ddlDisplayFormats" class="dropdown">
                                                            <option value="U3992" class="hasGoggles">my:Tom Grid
                                                            </option>
                                                            <option selected="selected" value="5" class="hasGoggles">
                                                                Single Line
                                                            </option>
                                                            <option value="6292" class="noGoggles">int map</option>
                                                            <option value="6294" class="noGoggles">int map4</option>
                                                            <option value="6293" class="noGoggles">int map2 resp
                                                            </option>
                                                            <option value="6295" class="noGoggles">int map4 resp
                                                            </option>
                                                            <option value="6207" class="noGoggles">All Fields</option>
                                                            <option value="6067" class="hasGoggles">Single
                                                                Line_Testing_CG</option>
                                                            <option value="6038" class="noGoggles">RES/FRM agent 1
                                                                page_copy
                                                            </option>
                                                            <option value="5917" class="noGoggles">Test</option>
                                                            <option value="1216" class="hasGoggles">Agent 1 Page
                                                            </option>
                                                            <option value="6264" class="noGoggles">360 Property View
                                                            </option>
                                                            <option value="5996" class="hasGoggles">Admin 1 Page
                                                            </option>
                                                            <option value="6291" class="hasGoggles">Agent 2 Page_test
                                                            </option>
                                                            <option value="1300" class="hasGoggles">Agent 1 Page
                                                                w/photos</option>
                                                            <option value="1240" class="hasGoggles">Agent 2 Page
                                                            </option>
                                                            <option value="6001" class="noGoggles">Customer Full_test
                                                            </option>
                                                            <option value="6188" class="noGoggles">RESo DD Agent Full
                                                            </option>
                                                            <option value="1106" class="noGoggles">Hot Sheets</option>
                                                            <option value="5830" class="noGoggles">Photo Report</option>
                                                            <option value="9" class="noGoggles">Showing Report Full
                                                            </option>
                                                            <option value="5792" class="noGoggles">Sold Report</option>
                                                            <option value="5908" class="noGoggles">Appraiser Report
                                                            </option>
                                                            <option value="6034" class="noGoggles">DOM/CDOM
                                                                Investigation</option>
                                                            <option value="73" class="noGoggles">Customer Single Line
                                                            </option>
                                                            <option value="76" class="noGoggles">Customer Full</option>
                                                            <option value="1544" class="noGoggles">Customer Full
                                                                w/photos</option>
                                                            <option value="5824" class="noGoggles">Customer Thumbnail
                                                            </option>
                                                            <option value="75" class="noGoggles">Customer Showing Report
                                                            </option>
                                                            <option value="5945" class="noGoggles">Side-by-Side
                                                                Thumbnail</option>
                                                            <option value="5940" class="noGoggles">test customer showing
                                                                report
                                                            </option>
                                                            <option value="5711" class="hasGoggles">Agent 1 Page_TEST
                                                            </option>

                                                        </select>
                                                        <span id="m_ucDisplayPicker_m_spnPageSize">
                                                            <span>at</span>
                                                            <select name="m_ucDisplayPicker$m_ddlPageSize"
                                                                id="m_ucDisplayPicker_m_ddlPageSize" class="dropdown">
                                                                <option value="10">10</option>
                                                                <option selected="selected" value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="300">300</option>

                                                            </select>
                                                            <span>per page</span>
                                                        </span>

                                                    </div>
                                                </td>

                                                <!-- map -->
                                                <td class="hideOnSearch hideOnResults">
                                                    <input type="hidden" id="hf_DriveTimeInfoBox_Label"
                                                        value="Change DriveTime™ Info">
                                                    <a title="INRIX™ DriveTime" id="m_aDriveTime"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_drivetime"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Draw Radius" id="m_aCircle"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_circle"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Draw Rectangle" id="m_aRectangle"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_rectangle"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Draw Polygon" id="m_aPolygon"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_polygon"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Freehand Polygon" id="m_aFingerPolygon"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_fingerpolygon"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Clear All Shapes" id="m_aClearShapes"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_clear"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Layers" id="m_aLayers" href="javascript:void(0)"><span
                                                            class="linkIcon icon_layers"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">
                                                    <a title="Recenter" id="m_aRecenter" href="javascript:void(0)"><span
                                                            class="linkIcon icon_recenter"></span></a>
                                                </td>
                                                <td class="hideOnSearch hideOnResults">

                                                    <div class="geocodeAddress" id="m_ga">
                                                        <span id="m_ga_m_spnLocBox" class="loc">
                                                            <input name="m_ga$m_tb" type="text" id="m_ga_m_tb"
                                                                class="textbox" placeholder="Jump to Address"><a
                                                                class="dropdownIcon"></a>
                                                        </span>
                                                        <input type="hidden" name="m_ga$m_hfLat" id="m_ga_m_hfLat">
                                                        <input type="hidden" name="m_ga$m_hfLong" id="m_ga_m_hfLong">

                                                        <div class="list">
                                                            <a href="javascript:void(0);" userloc="userloc">My Current
                                                                Location</a>
                                                            <a href="javascript:void(0);" id="m_ga_m_aDefault"
                                                                data-lat="30.2995538347543" data-lon="-97.7423370689095"
                                                                data-zoom="12">My Default Location</a>
                                                        </div>
                                                    </div>
                                                </td>

                                                <!-- results -->
                                                <td id="m_tdGridSave" class="hideOnSearch hideOnMap">
                                                    <a title="Manage Display" id="m_aGridSaveLinks"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_saveDisplayGrid"></span></a>
                                                </td>

                                                <!-- all -->
                                                <td>
                                                    <a title="Set/Clear Defaults" id="m_aSetDefaults"
                                                        href="javascript:void(0)"><span
                                                            class="linkIcon icon_settings"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <!-- // results subheading -->

                        <div class="prototype-table"></div>

                    </div>

                </td>
            </tr>
        </table>

        <!-- footer bar -->
        <div id="m_upDisplayButtons">

            <div style="z-index: 99; position: relative">
                <div id="m_pnlDisplayButtons" class="floating keptInViewport resultsActive"
                    style="padding: 10px 0px;width: 1427px;bottom: 0px;left: auto;position: static;top: auto;">

                    <input type="hidden" name="m_hfMenuState" id="m_hfMenuState" value="Actions">
                    <div class="resultsMenu tabbedMenu">
                        <ul class="mainmenu">
                            <li id="m_liActionsTab" class="selected">
                                Actions</li>
                            <li id="m_liResultsTab">
                                Refine</li>
                            <li id="m_liSaveAsTab">
                                Save</li>
                            <li id="m_liCartsTab">
                                Carts</li>

                        </ul>
                        <div class="paging hideOnMap">

                            <span id="m_upPaging">
                                <span class="pagingLinks">
                                    <!-- <b>[1]</b> -->
                                    <b>1</b>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">7</a>
                                    <a href="#">8</a>
                                    <a href="#">9</a>
                                    <a href="#">10</a>
                                    <!-- <a href="#">...</a>&nbsp;·
                                    <a disabled="disabled">Previous</a>&nbsp;· -->
                                    <a href="#">...</a>
                                    <a disabled="disabled">Previous</a>
                                    <a href="#">Next</a></span>

                            </span>
                        </div>
                        <div style="clear: both;"></div>
                        <div id="m_tblActionMenu" class="submenu" style="display: block;">
                            <table border="0" cellspacing="0" cellpadding="0" class="buttonBar">
                                <tbody>
                                    <tr>
                                        <td class="leftImportant enabled">
                                            <img src="/matrix/images/c.gif" width="13" alt="spc"></td>
                                        <td class="link important barright enabled" title="">
                                        <td class="rightImportant"><img src="/matrix/images/c.gif" width="13" alt="spc">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // footer bar -->
    </div>

    <!-- FOR PROTOTYPE ONLY -->
    <script src="paging.component.js"></script>
    <!-- FOR PROTOTYPE ONLY -->

</body>

</html>