.mtx-notification {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.mtx-notification:hover,
.mtx-notification:focus {
    text-decoration: none;
}

.mtx-notification.active {
    color: #ffffff;
}

.mtx-count {
    background-color: red;
    display: block;
    border-radius: 9px;
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 6px;
    right: 0;
}

.mtx-popover {
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25) !important;
}

.mtx-popover .mtx-arrow {
    top: -10px !important;
}

.mtx-popover .mtx-arrow::after {
    border-bottom-color: #007aaa !important;
}

.mtx-popover .mtx-popover-title {
    font-size: 20px;
    color: #ffffff;
    background-color: #007aaa;
    border-radius: 0;
}

.mtx-popover .mtx-popover-title::before {
    border-bottom: 0 !important;
}

.mtx-popover .mtx-popover-content {
    padding: 0;
    font-size: 15px;
}

.mtx-popover .mtx-popover-content .date {
    padding-left: 0.5em;
    color: #7f7f7f;
}

.mtx-popover .mtx-list-group {
    margin-bottom: 0;
}

.mtx-popover .mtx-list-group-item {
    padding: 8px 12px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.mtx-popover .mtx-list-group-item:first-child,
.mtx-popover .mtx-list-group-item:last-child {
    border-radius: 0;
}
