<!DOCTYPE html>
<html>

<head>
    <title>Notifications Component - Legacy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FOR PROTOTYPE ONLY -->

    <link href="http://holly.matrixstaging.com/Matrix/css/matrix?v=M6RyrKiYjH9HUUHFblMDQ-N0xrem6jmlGEAGamDayKs1"
        rel="stylesheet" />

    <link href="http://holly.matrixstaging.com/Matrix/css/custom?v=sV23_KTqVTQOndZ08MtrNaK44bvb4ID259O1twRkQUA1"
        rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style>
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- // FOR PROTOTYPE ONLY -->

    <link rel="stylesheet" href="notifications.component.css">

</head>

<body>

    <div class="TopMenuInner">
        <div class="TopMenuInnermost">
            <table class="TopMenuTable">
                <tr>
                    <td style="width:100%;">&nbsp;</td>
                    <td>

                        <!-- Alert Indicator -->
                        <a id="ExampleNotificationAlert" class="btn btn-link mtx-notification active" href="javascript:"
                            rel="notification" data-toggle="popover" data-html="true">
                            <span class="mtx-count">3</span>
                            <span class="far fa-bell">
                                <span class="sr-only">Notifications</span>
                            </span>
                        </a>
                        <!-- END Alert Indicator -->

                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div style="display: none;">

        <!-- Example Notification Items -->
        <div id="ExampleNotificationItems">
            <ul class="list-group mtx-list-group">
                <li class="mtx-list-group-item list-group-item">
                    <span class="fal fa-trash text-danger mtx-clear"></span>
                    <strong>Concierge Alert</strong><small class="date">Today</small><br />
                    You have 5 auto-emails awaiting approval.
                </li>
                <li class="mtx-list-group-item list-group-item">
                    <span class="fal fa-trash text-danger mtx-clear"></span>
                    <strong>Planner Alert</strong><small class="date">1 day ago</small><br />
                    <a href="javascript;">Violet Baudelaire</a> completed the "Look into your finances" task.
                </li>
                <li class="mtx-list-group-item list-group-item">
                    <span class="fal fa-trash text-danger mtx-clear"></span>
                    <strong>PropertyFit Alert</strong><small class="date">1 day ago</small><br />
                    <a href="javascript;">Dan Brown</a> has updated their preferences.
                </li>
                <li class="mtx-list-group-item list-group-item">
                    <div class="text-right small">
                        <a href="javascript:">Clear All</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end Notification Items -->

    </div>

    <script src="notifications.component.js"></script>

</body>

</html>