

/******************************************************************************/
/* Styling for Matrix implementation of Bootstrap4 components.
/*
/* Please notice the distinction between this and the mtxcomponents file
/* which is for Bootstrap3 components still used by legacy Matrix.
/* 
/* Each UI component should have its own section in this file and within
/* mtrxcomponents.js if there is a need for enhanced script functionality.
/******************************************************************************/


/******************************************************************************/
/* CSS variables.
/*
/* Use these instead of specifying colors in component blocks.
/******************************************************************************/

:root {
	/*System*/
	--mtrx-gray-lightest: #ffffff; //f1f1f1
	--mtrx-gray-lighter: #ebebeb;
	--mtrx-gray-light: #d2d2d2;
	--mtrx-gray: #bebebe;
	--mtrx-gray-dark: #9f9f9f;
	--mtrx-gray-darker: #6c6c6c;
	--mtrx-gray-darkest: #393939;
	--mtrx-boxShadow: 0 0 4px rgba(0,0,0,0.25);

	/*Primary*/
	--mtrx-primary-lighter: #77d9ff;
	--mtrx-primary-light: #11bcff;
	--mtrx-primary: #007aaa;
	--mtrx-primary-dark: #003144;

	/*Secondary*/
	--mtrx-secondary-lighter: #d5bcde;
	--mtrx-secondary-light: #aa78bd;
	--mtrx-secondary: #77448b;
	--mtrx-secondary-dark: #3c2246;

	/*Accent*/
	--mtrx-accent-lighter: #fdecbe;
	--mtrx-accent-light: #f9cf5c;
	--mtrx-accent: #e7ab08;
	--mtrx-accent-dark: #846205;

	/*Contextual*/
	--mtrx-success: #428542;
	--mtrx-danger: #B33D4B;
	--mtrx-warning: #dfaf13;
	--mtrx-info: #285cab;

	/*TODO font-sizes*/
}
/* End CSS variables.
/******************************************************************************/



/******************************************************************************/
/* Color utility classes.
/*
/* Use these to directly invoke the css-var colors for one-off intances when a
/* component or element doesn't need a full class treatment, but you still want
/* to affect text or background color. This keeps colors out of inline style
/* and easily changeable system-wide from one location.
/*
/* Naming convention is [namespace]-[attribute to affect]--[matrix color var]
/******************************************************************************/

/*Text color utility classes.*/
.mtrx-color--primary {
	color: var(--mtrx-primary);
}

.mtrx-color--gray-lightest {
	color: var(--mtrx-gray-lightest);
}

.mtrx-color--gray {
	color: var(--mtrx-gray);
}

.mtrx-color--gray-darker {
	color: var(--mtrx-gray-darker);
}

/*Background color utility classes.*/
.mtrx-bg--gray-lightest {
	background: var(--mtrx-gray-lightest);
}
.mtrx-bg--gray-lighter {
	background: var(--mtrx-gray-lighter);
}
.mtrx-bg--gray-light {
	background: var(--mtrx-gray-light);
}
.mtrx-bg--gray {
	background: var(--mtrx-gray);
}
.mtrx-bg--gray-dark {
	background: var(--mtrx-gray-dark);
}
.mtrx-bg--gray-darker {
	background: var(--mtrx-gray-darker);
}
.mtrx-bg--gray-darkest {
	background: var(--mtrx-gray-darkest);
}
/*Primary*/
.mtrx-bg--primary-lighter {
	background: var(--mtrx-primary-lighter);
}
.mtrx-bg--primary-light {
	background: var(--mtrx-primary-light);
}
.mtrx-bg--primary {
	background: var(--mtrx-primary);
}
.mtrx-bg--primary-dark {
	background: var(--mtrx-primary-dark);
}
/*Secondary*/
.mtrx-bg--secondary-lighter {
	background: var(--mtrx-secondary-lighter);
}
.mtrx-bg--secondary-light {
	background: var(--mtrx-secondary-light);
}
.mtrx-bg--secondary {
	background: var(--mtrx-secondary);
}
.mtrx-bg--secondary-dark {
	background: var(--mtrx-secondary-dark);
}
.mtrx-bg--accent-lighter {
	background: var(--mtrx-accent-lighter);
}
/*Accent*/
.mtrx-bg--accent-light {
	background: var(--mtrx-accent-light);
}
.mtrx-bg--accent {
	background: var(--mtrx-accent);
}
.mtrx-bg--accent-dark {
	background: var(--mtrx-accent-dark);
}
/*Contextual*/
.mtrx-bg--info {
	background-color: var(--mtrx-info);
}
.mtrx-bg--success {
	background-color: var(--mtrx-success);
}
.mtrx-bg--warning {
	background-color: var(--mtrx-warning);
}
.mtrx-bg--danger {
	background-color: var(--mtrx-danger);
}
/* End Color utility classes.
/******************************************************************************/



/******************************************************************************/
/* Main components.
/*
/* For standard broadly used things like BODY, page, typography.
/******************************************************************************/

.mtrx-body {
	background-color: var(--mtrx-gray-lighter);
	font-size: 0.875rem;
}

.mtrx-pageContainer {
	background-color: var(--mtrx-gray-lightest);
	box-shadow: var(--mtrx-boxShadow);
	padding: 1rem 0;
	margin: 1rem;
}

.mtrx-body h1,
.mtrx-body .h1 {
	font-weight: 200;
	font-size: 1.25rem;
}

.mtrx-body h2,
.mtrx-body .h2 {
	font-weight: 700;
	font-size: 1.125rem;
}

.mtrx-body h3,
.mtrx-body .h3 {
	font-weight: 400;
	font-size: 1.125rem;
}

.mtrx-body a {
	color: var(--mtrx-primary);
}

.mtrx-body small,
.mtrx-body .small,
.mtrx-body .text-muted {
	color: var(--mtrx-gray-darker) !important;
}

.mtrx-keyvalue {
	margin-bottom: 1rem;
}

.mtrx-keyvalue.inline .mtrx-key {
	display: inline-block;
	margin-right: 6px;
}

.mtrx-keyvalue.inline .mtrx-value {
	display: inline-block;
}

.mtrx-keyvalue .mtrx-key {
	font-weight: 700;
	font-size: 0.75rem;
}

/*TODO: evaluate*/
.custom-control-input:checked ~ .custom-control-label::before {
	border-color: var(--mtrx-primary);
	background-color: var(--mtrx-primary);
}
/* End Main components.
/******************************************************************************/



/******************************************************************************/
/* Sidebar.
/*
/* WIP. In case we want a drawer/pullout/sidebar menu thing. Should probably
/* be a nav if we want to do this someday.
/******************************************************************************/

.mtrx-sidebar {
	border-right: 1px solid var(--mtrx-gray);
	min-height: calc(100vh - 400px);
	/*height: calc(100vh - 400px);
	//position: sticky;
	//top: 4rem;
	//z-index: 1000;
	//height: calc(100vh - 4rem);*/
}
/* End Sidebar.
/******************************************************************************/



/******************************************************************************/
/* Example.
/*
/* Container for showing example code.
/******************************************************************************/

.mtrx-example {
	cursor: text;
	padding: 1rem;
	background-color: var(--mtrx-gray-lighter);
}

.mtrx-example-display {
	background-color: var(--mtrx-gray-lightest);
	padding: .5rem;
	margin-top: -.75px;
	margin-left: -.75px;
	margin-right: -.75px;
}
/* End Example.
/******************************************************************************/



/******************************************************************************/
/* Buttons.
/*
/* Styling of Bootstrap button components.
/******************************************************************************/

.mtrx-body .btn {
	border-radius: 0;
	font-size: 0.875rem;
}

.mtrx-body .btn-primary {
	background-color: var(--mtrx-primary);
	border-color: var(--mtrx-primary);
	color: var(--mtrx-gray-lightest);
}

.mtrx-body .badge-primary {
	background-color: var(--mtrx-primary);
}

/*OK as default or should it be pagination specific?*/
.mtrx-body .btn-group .btn {
	min-width: 46px;
}
/* End Buttons.
/******************************************************************************/


/******************************************************************************/
/* Forms.
/*
/* Styling of Bootstrap form components.
/******************************************************************************/

.mtrx-body .form-control {
	border-radius: 0;
	font-size: 0.875rem;
}

.mtrx-body .form-group label,
.mtrx-body .label {
	font-weight: 700;
	font-size: 0.75rem;
}

.mtrx-body .input-group-text {
	font-size: 0.75rem;
}
/* End Forms.
/******************************************************************************/



/******************************************************************************/
/* Dropzone.
/*
/* A container which is a target for file drop interaction.
/******************************************************************************/

.mtrx-dropzone {
	min-height: 200px;
	border: 3px dashed;
	border-color: var(--mtrx-gray);
	border-radius: 4px;
	color: var(--mtrx-gray);
}
/* End Dropzone.
/******************************************************************************/



/******************************************************************************/
/* Validation.
/*
/* Styling of MVC generated validation classes.
/******************************************************************************/
.input-validation-error {
	border-color: var(--mtrx-danger);
}

.field-validation-error {
	color: var(--mtrx-danger);
}
/* End Validation.
/******************************************************************************/



/******************************************************************************/
/* Toggle.
/*
/* Toggle styling for a form checkbox..
/******************************************************************************/
.mtrx-toggle {
	cursor: pointer;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 0; /*So the -indicator:after gets a proper stacking context.*/
}

.mtrx-toggle-indicator {
	display: inline-block;
	cursor: pointer;
	pointer-events: auto;
	border-radius: 15px;
	background-color: var(--mtrx-gray);
	height: 31px;
	width: 61px;
	transition: background .4s;
}

.custom-control-input:checked ~ .mtrx-toggle-indicator {
	background-color: var(--mtrx-primary);
}

.mtrx-toggle-indicator:after {
	content: '';
	height: 28px;
	width: 28px;
	border-radius: 28px;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 4;
	background-color: var(--mtrx-gray-lightest);
	transition: left .2s linear;
}

.custom-control-input:checked ~ .mtrx-toggle-indicator:after {
	left: 31px;
}

.mtrx-toggle-description {
	position: absolute;
	left: 0;
	top: 5px;
	width: 61px;
	color: var(--mtrx-gray-darkest);
	transition: color .2s linear;
}

.custom-control-input:checked ~ .mtrx-toggle-description {
	color: var(--mtrx-gray-lightest);
}

.mtrx-toggle-description-on {
	position: absolute;
	left: 8px;
	white-space: nowrap;
}

.mtrx-toggle-description-off {
	position: absolute;
	right: 8px;
	white-space: nowrap;
}
/* End Toggle.
/******************************************************************************/



/******************************************************************************/
/* Pagination.
/*
/* Styling of Bootstrap button groups used for pagination purposes.
/******************************************************************************/

.mtrx-pagination--isActive span {
	border-radius: 30px;
	content: '';
	height: 30px;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	width: 30px;
	z-index: 999;
	border: 3px solid var(--mtrx-primary);
}
/* End Pagination.
/******************************************************************************/


/******************************************************************************/
/* Navbar.
/*
/* Styling of Bootstrap main navbar.
/******************************************************************************/

.mtrx-navbar {
	position: relative;
	z-index: 1;
	box-shadow: var(--mtrx-boxShadow);
}

.mtrx-navbar.bg-primary {
	background-color: var(--mtrx-primary) !important;
}

.mtrx-navbar .nav-item {
	position: relative;
	border-bottom: 1px solid transparent;
}

.mtrx-navbar .nav-item.active {
	border-bottom-color: rgba(255,255,255,0.5); /*TODO:color var.*/
}

.mtrx-navbar .nav-link,
.mtrx-navbar .mtrx-nav-item .nav-link {
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5); /*TODO:color var.*/
}

.mtrx-navbar .nav-link:hover,
.mtrx-navbar .mtrx-nav-item .dropdown-toggle:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75); /*TODO:color var.*/
}

.mtrx-navbar .nav-item .nav-link.dropdown-toggle::after {
	display: none; /* hide arrow */
}

/* hover for desktop only. To reconsider */
@media only screen and (min-width: 1024px) {
	.mtrx-navbar .nav-item:hover > .dropdown-menu {
		display: block;
	}
}

@media only screen and (max-width: 575px) {
	.mtrx-navbar .nav-item {
		border-bottom: none;
	}

	.mtrx-navbar .nav-link {
		font-weight: 500;
		line-height: 1.4rem;
		height: auto;
		padding-left: 0;
		padding-right: 0;
	}

	.mtrx-navbar .dropdown-menu-right {
		position: relative;
		float: none;
	}
}

.mtrx-navbar .navbar-brand img {
}
/* End Navbar.
/******************************************************************************/



/******************************************************************************/
/* Dropdown.
/*
/* Set defaults and extend Bootstrap dropdown component.
/* Please note some additional dropdown styles are specific to the navbar and
/* are grouped in that section.
/******************************************************************************/

.mtrx-body .dropdown-menu {
	font-size: 0.875rem;
}

.mtrx-dropdown--withHeader .dropdown-menu {
	padding-top: 0;
	min-width: 300px; /*TODO: for notifications. Don't want this default.*/
}

.mtrx-dropdown--withHeader .dropdown-header {
	background-color: var(--mtrx-primary);
	color: var(--mtrx-gray-lightest);
	font-size: 1rem;
}
/* End Dropdown.
/******************************************************************************/


/******************************************************************************/
/* Speedbar.
/*
/* Styling of Responsive Speedbar.
/******************************************************************************/

.mtrx-speedbar {
	border-bottom: 1px solid var(--mtrx-gray-light);
}

.mtrx-speedbar .input-group-text,
.mtrx-speedbar .form-control {
	font-size: 0.875rem;
}

.mtrx-speedbar input,
.mtrx-speedbar .input-group-text {
	color: var(--mtrx-gray-darker);
	background: var(--mtrx-gray-lightest);
	border: none;
	border-radius: 0;
}

/*TODO: variable color*/
.mtrx-speedbar input::placeholder {
	color: var(--mtrx-gray-light);
}

/*TODO: variable color*/
.mtrx-speedbar .form-control:focus {
	background: var(--mtrx-gray-lightest);
	color: var(--mtrx-gray-darker);
}
/* End Speedbar.
/******************************************************************************/


/******************************************************************************/
/* Widgets.
/*
/* For Bootstrap card elements which should appear uniform.
/* Example of usage is on the Matrix Responsive home page.
/******************************************************************************/

.mtrx-widget {
	margin-bottom: .5rem;
	border-radius: 0;
	box-shadow: var(--mtrx-boxShadow);
	border: none;
}

.mtrx-widget .list-group {
	border: 1px solid rgba(0,0,0,0.125); /*TODO: color var.*/
	border-radius: 4px;
	max-height: 400px;
	overflow: auto;
}

.mtrx-widget .list-group-flush .list-group-item {
	border-radius: 4px;
}

.mtrx-widget .card-header {
	background-color: transparent;
	border-bottom: 0;
	padding: 0.25rem 0.50rem;
	color: var(--mtrx-primary);
}

.mtrx-widget .card-body {
	padding: .25rem;
}

.mtrx-widget .card-footer {
	background: transparent;
	border: 0;
}
/* End Widgets.
/******************************************************************************/


/******************************************************************************/
/* Section.
/*
/* For styling a card header in a more flowing way within a page.
/* Class mtrx-section must be used with the bootstrap4 card class 
/* to apply the visual change.
/* Add mtrx-section--isCollapsible to the element which wraps the 
/* card-header text to use the optional collapsing arrow indicator.
/******************************************************************************/

.mtrx-section {
	border: none;
}

.mtrx-section .card-header {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--mtrx-gray-light);
	color: var(--mtrx-primary);
}

.mtrx-section--isCollapsible {
	padding-left: 20px;
	position: relative;
	width: 100%;
}

.mtrx-section--isCollapsible:before {
	content: '\f078';
	font-family: 'Font Awesome 5 Pro';
	font-size: 0.875rem;
	left: 0;
	line-height: 10px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	transition: transform 300ms ease-in-out;
	width: 10px;
}

.collapsed .mtrx-section--isCollapsible:before {
	transform: rotate(-90deg);
	transition: transform 300ms ease-in-out;
}
/* End Section.
/******************************************************************************/


/******************************************************************************/
/* Tables.
/*
/* Styling of Bootstrap table components.
/******************************************************************************/

.mtrx-table {
}

.mtrx-table th {
	position: sticky;
	top: 0;
	background-color: var(--mtrx-gray-lightest);
}
/* End Tables.
/******************************************************************************/



/******************************************************************************/
/* Visualizations.
/*
/* Custom graphs, charts, etc.
/******************************************************************************/

.mtrx-plannerGraph .mtrx-donutChart {
	width: 240px;
	max-width: 90%;
}
/* End Visualizations.
/******************************************************************************/



/******************************************************************************/
/* Author
/*
/* Decorative bubble for high visibility of things like initials.
/* The base class should work with the font sizing of the element it is applied
/* to, but optional class sizes can be specified here to address common usage
/* scenarios without having to do a lot of overriding of typographic elements.
/*
/* TODO: Dry out color specifications and provide inverse alternatives.
/******************************************************************************/
.mtrx-author {
	height: 2.5em;
	width: 2.5em;
	margin: 10px;
	line-height: 2.3em !important;
	text-align: center;
	overflow: hidden;
	border-radius: 1.5em;
	background-color: gray;
	border: 2px solid rgba(0,0,0,.25); /*TODO: color var.*/
	color: rgba(255, 255, 255, .85); /*TODO: color var.*/
}

.mtrx-author--large {
	font-size: 1.5em;
	font-weight: 700;
}
/* End Author
/******************************************************************************/


/******************************************************************************/
/* Badges, counts, things.
/*
/* Count, in particular, is used to add data context to an icon.
/* An example of usage is indicating the number of unseen notifications in nav.
/******************************************************************************/

.mtrx-count {
	position: relative;
	/*width: fit-content;*/
}

.mtrx-count-badge {
	font-size: 0.75rem;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	text-align: center;
	position: absolute;
	top: -2px;
	right: -8px;
}
/* End Badges.
/******************************************************************************/



/******************************************************************************/
/* Utilities.
/*
/* Helpful things, stateful things, miscellaneous.
/******************************************************************************/

.mtrx-widget-badge {
	padding: .5rem;
}

.mtrx-isClickable {
	cursor: pointer;
}

.mtrx-top--30percent {
	top: 30%;
}
/* End Utilities.
/******************************************************************************/
