<nav class="mtrx-navbar navbar navbar-expand-sm navbar-dark bg-primary pt-0 pb-0">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/images/mtrx-logo.svg" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/typography" routerLinkActive="active">Typography</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forms" routerLinkActive="active">Forms</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" role="button" id="navSearch" data-toggle="dropdown" routerlink="#">Components</a>
        <div class="dropdown-menu" aria-labelledby="navSearch">
          <a class="dropdown-item" routerLink="/table">Table</a>
          <a class="dropdown-item" routerLink="/tabs">Tabs</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" role="button" id="navSearch" data-toggle="dropdown" routerLink="#">Pages</a>
        <div class="dropdown-menu" aria-labelledby="navSearch">
          <a class="dropdown-item" routerLink="/tour">Product Tour</a>
          <a class="dropdown-item" routerLink="/unsubscribe">Unsubscribe</a>
        </div>
      </li>

    </ul>
    <app-notifications></app-notifications>
    <div class="dropdown mtrx-nav-item">
      <a class="dropdown-toggle nav-link" role="button" id="navProfile" data-toggle="dropdown" routerLink="#">Utility Menu</a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navProfile">
        <a class="dropdown-item" routerLink="">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="">Help</a>
        <a class="dropdown-item" routerLink="">Logout</a>
      </div>
    </div>
  </div>
</nav>
