<div class="mtrx-pageContainer">
  <div class="container-fluid">
      <div class="row mb-3">
    <div class="col">
      <h1>Bootstrap Tour Demo</h1>




    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 mb-3">
      <div id="feature1" class="card mtrx-widget h-100">
        <div class="card-header">
          <h3>Planner</h3>
        </div>
        <div class="card-body">
          <h4>Introducing the Planner</h4>
          <p>The Planner lets your clients review the real estate process and check off tasks as they go - so you’ll always know where they are in the process and where they might be stuck.</p>
          <div class="text-center">
            <button id="feature2" class="btn btn-primary m-3">Go to Feature 2</button><br/>
            <a id="feature3">Learn more about Feature 3</a>
          </div>



        </div>
        <div class="card-footer text-center">
          <small class="text-muted">Last Visited 02/25/2020</small>
        </div>
      </div>
    </div>
  </div>

  </div>


</div>




