<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- 
    
        Notes
        - Replace "Zoom In" warning label and with Tooltip
        - Replace "textCenterPointer" class with "btn btn-link pull-right"

    -->

    <!-- FOR PROTOTYPE ONLY -->
    <!-- <link
        href="http://dogwood.argon.dev.tarasoft.local/Matrix/css/matrix?v=t1t_zwImln-5g2LjHrSB8aeHnmaMttAJEvv1KfZJPSQ1"
        rel="stylesheet" /> -->

    <link href="http://holly.matrixstaging.com/Matrix/css/matrix?v=M6RyrKiYjH9HUUHFblMDQ-N0xrem6jmlGEAGamDayKs1"
        rel="stylesheet" />

    <link href="http://holly.matrixstaging.com/Matrix/css/custom?v=sV23_KTqVTQOndZ08MtrNaK44bvb4ID259O1twRkQUA1"
        rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style>
        .layerMenu {
            display: block;
            margin: 20px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- // FOR PROTOTYPE ONLY -->

    <link rel="stylesheet" href="footer.component.css">
    <!-- <script src="map-layers.component.js"></script> -->

</head>

<body>

    <div class="footer_div">
        <br>

        <table class="footer mtx-footer" width="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="mtx-footer-logo">
                        <img src="images/logo_footer.png">
                    </td>
                    <td align="center">
                        
                        <div class="short_footer--REMOVE">
                            All the information on this website is published for general information purpose only.
                            Website Name does not make any warranties about the completeness, reliability and accuracy
                            of this information. Any action you take upon the information you find on this website
                            (Website.com), is strictly at your own risk. will not be liable for any losses and/or
                            damages in connection with the use of our website.
                        </div>
                        <br/>

                        <div>
                            &copy; 2019 CoreLogic. All Rights Reserved.<br />
                            <a href="http://www.corelogic.com" target="_blank">Matrix v9.0</a> |
                            <a href="javascript:" target="_blank">Terms of Use</a>
                        </div>

                    </td>
                    <td class="mtx-footer-logo">
                        <img src="images/powerdby_corelogic.png">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>