<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet" />

<div class="onehome">

  <nav class="navbar navbar-onehome mb-5">
    <span class="navbar-brand">
      <img class="logo" src="/assets/images/onehome-logo.gif" alt="OneHome" />
    </span>
  </nav>

  <div class="container">
    <div class="row">

      <div class="col d-lg-none text-center mb-5">
        <img class="artwork" src="/assets/images/unsubscribe-complete.png" />
      </div>

    </div>
    <div class="row">

      <div class="col-lg-7 pb-5">

        <h1 class="mb-3">You're Unsubscribed</h1>
        <p>We've unsubscribed <strong>jack@black.com</strong> from the saved search <strong>Listings in
            Oakland</strong>. If you unsubscribed by mistake, contact your real estate agent to set up the search again.
        </p>

      </div>

      <div class="col-lg-5 pb-5 d-none d-lg-block">
        <img class="artwork" src="/assets/images/unsubscribe-complete.png" />
      </div>
      
    </div>
  </div>

</div>
