<h1 class="mb-3">Tables</h1>

<div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
      </thead>
      <tbody>
        <tr>
          <td class="text-nowrap">Violet Baudelaire</td>
          <td class="text-nowrap"><a href="#" class="d-block">violet@baudelaire.com</a></td>
          <td class="text-nowrap">555 12th Street, Oakland CA</td>
        </tr>
        <tr>
          <td class="text-nowrap">Jack Black</td>
          <td class="text-nowrap"><a href="#" class="d-block">jack@black.com</a></td>
          <td class="text-nowrap">1211 Magnolia Ave, Piedmont CA</td>
        </tr>
        <tr>
          <td class="text-nowrap">David Gray</td>
          <td class="text-nowrap"><a href="#" class="d-block">david@gray.com</a></td>
          <td class="text-nowrap">1024 Ashby Ave, Berkeley CA</td>
        </tr>
        <tr>
          <td class="text-nowrap">Rachel Green</td>
          <td class="text-nowrap"><a href="#" class="d-block">rachel@green.com</a></td>
          <td class="text-nowrap">109 Solano Ave, Albany CA</td>
        </tr>
        <tr>
          <td class="text-nowrap">Joel Silver</td>
          <td class="text-nowrap"><a href="#" class="d-block">joel@silver.com</a></td>
          <td class="text-nowrap">430 Spain St, Sonoma CA</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mtrx-pagination">
      <div class="row">
        <div class="col">
          <div class="form-inline">
            <div class="form-group">
              <select class="form-control">
                <option>5</option>
              </select>
              <label class="pl-2">Per Page</label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="btn-group float-right">
            <button type="button" class="btn btn-outline-secondary">Previous</button>
            <button type="button"
              class="btn btn-outline-secondary mtrx-pagination--isActive"><span>1</span></button>
            <button type="button" class="btn btn-outline-secondary"><span>2</span></button>
            <button type="button" class="btn btn-outline-secondary"><span>3</span></button>
            <button type="button" class="btn btn-outline-secondary">Next</button>
          </div>
        </div>
      </div>

    </div>
