.confirmationMessage {
    font-size: 12px;
    text-align: left;
    padding: 12px 24px;
    left: 12px;
    max-width: 50%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.12);
}

.confirmationMessage .close {
    margin-left:12px;
}

@media screen and (max-width: 480px) {
    .confirmationMessage {
        left:5%;
        right: 5%;
        margin: 0;
        max-width: none;
    }
}