<table class="J_table" role="presentation" style="border-collapse: collapse; border-spacing: 0px;" cellspacing="0" cellpadding="0" stylevalueborder-collapse="collapse" stylevaluewidth="600px" j_clientwidth="600">
	<colgroup>




		<col class="TS0-TS2">





	</colgroup>
	<tbody>
		<tr>
			<td class="highlight-container" style="margin: 0px; overflow: hidden;" stylevaluewidth="600px" j_clientwidth="600" stylevalueoverflow="hidden" stylevaluemargin="0px">
				<table width="100%" class="highlight" role="presentation" style="border-radius: 3.7px; border: 1px solid rgb(216, 216, 216); border-image: none; overflow: hidden; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" cellspacing="0" cellpadding="0" j_controltype="Table">
					<tbody>
						<tr>
							<td height="12" style="height: 12px; line-height: 0; font-size: 0px; max-height: 12px;" colspan="5" stylevaluewidth="598px" j_clientwidth="598">
							</td>
						</tr>
						<tr>
							<td width="12" style="width: 12px !important; line-height: 0; font-size: 0px; min-width: 12px;">
							</td>
							<td width="40%" class="highlight-img-container" valign="top" style="overflow: hidden; max-width: 40% !important; background-color: rgb(255, 255, 255);" bgcolor="#ffffff" j_contentcontainer="1">
								<span class="formula J_formula" contenteditable="true" j_controltype="Formula" function="IjxhIGhyZWY9JyIgDQomIEJ1aWxkRnVsbFRlbXBsYXRlVXJsKCApIA0KJiAiJz4iDQomICI8aW1nIGNsYXNzPVwiaGlnaGxpZ2h0LWltZ1wiIGJvcmRlcj1cIjBcIiBhbHQ9XCJQaG90byBvZiByZWNvbW1lbmRlZCBwcm9wZXJ0eVwiIHN0eWxlPVwiZGlzcGxheTogYmxvY2s7IG1hcmdpbjogMDsgb3V0bGluZTogbm9uZTsgYm9yZGVyOiAwOyBib3JkZXItcmFkaXVzOiAzLjdweDsgbWluLXdpZHRoOiAxMDBweDsgd2lkdGg6IDEwMCU7IG1heC13aWR0aDogMTAwJTtcIiBzcmM9XCIiIA0KJiBCdWlsZE1lZGlhVVJMKDEsMCwyLCIiKSANCiYgIlwiPjwvaW1nPiINCiYgIjwvYT4i">
									<a href="">
										<img class="highlight-img" style="margin: 0px; border-radius: 3.7px; border: 0px currentColor; border-image: none; width: 100%; display: block; min-width: 100px; max-width: 100%;" alt="Photo of recommended property" src="http://localhost:49819/mediaserver/GetMedia.ashx?Key=29072163&amp;TableID=9&amp;Type=1&amp;Number=0&amp;Size=2&amp;NNF=1&amp;exk=6612a3b30fd142d0fa47560d867a9d08" border="0">
									</a>
								</span>
							</td>
							<td width="12" style="width: 12px !important; line-height: 0; font-size: 0px; min-width: 12px;">
							</td>
							<td class="highlight-details-container" valign="top" j_contentcontainer="1">

							</td>
							<td width="12" style="width: 12px !important; line-height: 0; font-size: 0px; min-width: 12px;">
							</td>
						</tr>
						<tr>
							<td height="12" style="height: 12px; line-height: 0; font-size: 0px; max-height: 12px;" colspan="5" stylevaluewidth="1255px" j_clientwidth="1255">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td height="12" style="margin: 0px; overflow: hidden;" stylevaluewidth="600px" j_clientwidth="600" stylevalueoverflow="hidden" stylevaluemargin="0px">
			</td>
		</tr>
	</tbody>
</table>